<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header', {})%>
        <%- include('partials/searchbar'),{}%>
        <div class="users-pane">
            <ul>
                <% if (locals.users) { %>
                    <% users.forEach(user => { %>
                        <li class="user-card">
                            <p>ID: <%= user.id %> </p>
                            <p> Name: <%= user.firstname %> <%= user.lastname %></p>
                            <div class="buttons">
                                <a href="./user/<%=user.id%>/update">Update</a>
                                <a href="./user/<%=user.id%>/delete">Delete</a>
                            </div>
                        </li>
                    <% }); %>
                <%} %>
            </ul>
        </div>
    </body>
</html>