<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header', {})%>
        <div class="users-pane">
            <ul>
                <% if (locals.users) { %>
                    <% users.forEach(user => { %>
                        <li>
                            ID: <%= user.id %>, Name: <%= user.firstname %> <%= user.lastname %>
                            <a href="./user/<%=user.id%>/update">Update</a>
                        </li>
                    <% }); %>
                <%} %>
            </ul>
        </div>
    </body>
</html>